/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: rgb(252, 247, 248);
@import 'variables';

body {
  margin: 0;
  padding: 0;
  // background-color: $primary-background;
  background-image: url(https://cdn.dribbble.com/users/948461/screenshots/3913689/dribbble_halloween_animation.gif);
// background-color: rgba(252, 247, 248, .5)
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
  font-family: 'Concert One', cursive;
}

.header {
  padding: 0px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
}

.header__btn--quit {
  height: 30px;
  border-radius: 20px;
  font-weight: 900;
  box-shadow: 4px 4px 5px rgb(41, 39, 39);
}

.header__title {
  margin: 27px 0px 10px 15px;
  font-family: 'Creepster', cursive;
  font-size: 3em;
  color: #a2e831;
  text-shadow: 2px 2px rgba(53, 52, 52, .5)
}

.splash__page {
  display:flex;
  flex-direction: row; 
  justify-content: center;
  width: 80%;
  height:100%;
  padding: 4%;
  margin: 30px auto; 
  background-color: rgb(64, 48, 78);
  opacity: .95;
  box-shadow: 3px 3px 4px rgba(46, 45, 45, .5);
  border-radius: 15px;

}

.splash__player--input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.splash__player--input--title {
  color: whitesmoke;
  padding: 5px;
  text-shadow: 2px 2px rgba(53, 52, 52, .5)
}

.splash__start--button{
  font-family: 'Creepster', cursive;
  border: solid 1px #a2e831; 
  background-color: #a2e831;
  padding: 4px;
  font-size: 140%;
}

.splash__player--input--one,
.splash__player--input--two,
.splash__player--input--three {
  height: 10%;
  
}

.splash__start--button {
  margin-top: 14px;
  width: -webkit-fill-available; 
}

.home-container {
  background-image: url('../images/background.png');
  background-repeat : no-repeat; 
  background-position : center; 
  background-size : cover;
}

.main__container--players {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__h2--contestants {
  font-family: 'Creepster', cursive;
  color: #a2e831;
  font-size: 3em;
}

.container__ul--player--info {
  border: solid 2px;
  background-color: #40304e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0px 30px;
  padding: 30px;
}

.ul__player--one--name,
.ul__player--two--name,
.ul__player--three--name {
  border: solid 3px;
  background-color: #40304e;
  border-right: solid 1px;
  font-size: 1.5em;
  padding: 15px;
  text-align: center;
}

.ul__player--one--score,
.ul__player--two--score,
.ul__player--three--score {
  border: solid 3px;
  background-color: #40304e;
  border-left: solid 1px;
  font-size: 1.5em;
  margin-right: 50px;
  padding: 25px;
  text-align: center;
}

.guess__input--div {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.guess__btn--vowel,
.btn__spin--display,
.btn__spin,
.guess__input,
.guess__input--btn {
  border-radius: 2px;
  background-color: #a2e831b6;
  font-size: 1.0em;
  font-weight: bold;
  height: 35px;
  margin: 10px;
  width: 20%;
}

.guess__input {
  border: none;
  background-color: white;
  font-size: 1.0em;
  height: 33px;
  text-align: center;
}

ul {
  color: white;
  text-decoration: underline;
}

.section__consonants {
  display: inline;
}

p {
  color: white;
}

.container__puzzle--div {
  color: white;
}

.container__displayPuzzle {
  display: flex;
  font-size: 2.5em;
  font-weight: bold;
  justify-content: space-evenly;
  list-style-type: none;
}