/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: rgb(252, 247, 248);

body {
  margin: 0;
  padding: 0;
  // background-color: $primary-background;
  // background-image: url(https://cdn.dribbble.com/users/948461/screenshots/3913689/dribbble_halloween_animation.gif);
// background-color: rgba(252, 247, 248, .5)
background-repeat: no-repeat; 
background-position: center; 
background-size: cover;
font-family: 'Concert One', cursive;
}


.header {
  display: flex;
  justify-content: center;
  font-family: 'Creepster', cursive;
  font-size: 2em;
  color: #a2e831;
}

.header__title {
 text-shadow: 2px 2px rgb(53, 52, 52)
}


.spash__page {
  display:flex;
  flex-direction: row; 
  justify-content: center;
  width: 35%;
  padding: 4%;
  margin: auto; 
  background-color: rgb(64, 48, 78);
  opacity: .95;
  box-shadow: 4px 4px 5px rgb(41, 39, 39);
  border-radius: 15px;

}

.splash__player--input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.splash__player--input--title {
  color: whitesmoke;
  padding: 5px;
}

.splash__start--button{
  font-family: 'Creepster', cursive;
  border: solid 1px #a2e831; 
  background-color: #a2e831;
  padding: 4px;
  font-size: 140%;
}

.splash__player--input--one,
.splash__player--input--two,
.splash__player--input--three {
  height: 10%;
  
}

.splash__start--button {
  margin-top: 14px;
  width: -webkit-fill-available; 
}

.home-container {
  background-image: url('../images/background.png');
  background-repeat : no-repeat; 
  background-position : center; 
  background-size : cover;
}

.main__container--players {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__h2--contestants {
 font-family: 'Creepster', cursive;
 color: #c2c1c0;
 size: 3em;
}