/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: rgb(252, 247, 248);
@import 'variables';

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  // background-color: $primary-background;
  // background-image: url(https://cdn.dribbble.com/users/948461/screenshots/3913689/dribbble_halloween_animation.gif);
// background-color: rgba(252, 247, 248, .5)
  // background-repeat: no-repeat; 
  // background-position: center; 
  // background-size: cover;
  font-family: 'Shadows Into Light', cursive;
  // font-family: 'Amatic SC', cursive;
}

.body__main {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.main_game {
  width:95%;
  height: 100vh;
  margin: auto;
  background: rgba(77, 70, 89, 0.8);
  border: 2px solid rgba(105, 95, 119, 0.8);
}
// .container__div--ul--players {
//   width: 40%;
// }


.center_game-box {
  background: rgba(77, 70, 89, 0.8);
  border: 2px solid rgba(105, 95, 119, 0.8);
  margin: auto;
  width: 1500px;
  padding: 5px;

}

.header {
  padding: 0px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
}

.header__btn--quit {
  height: 30px;
  border-radius: 20px;
  font-weight: 900;
  box-shadow: 4px 4px 5px rgb(41, 39, 39);
}

.header__title {
  color: #a2e831;
  font-family: 'Creepster', cursive;
  font-size: 6em;
  margin: 0px 0px 10px 15px;
  text-shadow: 2px 2px rgba(53, 52, 52, .5);
  text-align: center;
}

.hidden {
  display: none;
}

.splash__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 18% 0%;
  background-color: #40304e;
  box-shadow: 3px 3px 4px rgba(80, 65, 65, 0.5);
  border-radius: 15px;
  background-color: transparent;
}

.intro_page {
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
  opacity: .7;
}

.splash__player--info {
  min-width: 420px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__splash--title {
  margin: 10px;
  font-family: 'Creepster', cursive;
  font-size: 5em;
  color: #a2e831;
  text-shadow: 2px 2px rgba(53, 52, 52, .5);
}

.splash-gif {
  background-image: url('../images/splashGIF.gif');
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
  opacity: .7;
}

.splash__player--input-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 95%;
}

.splash__player--input--title {
  color: whitesmoke;
  padding: 5px;
  font-size: 238%;
  text-shadow: 2px 2px rgba(53, 52, 52, .5);
}

.splash__start--button {
  font-family: 'Creepster', cursive;
  border: solid 1px #a2e831; 
  background-color: #a2e831;
  padding: 4px;
  font-size: 140%;
  border-radius: 20px;
}

// .splash__player--input--two,
// .splash__player--input--three
.splash__player--input {
  height: 4em;
  min-width: 47%;
  max-width: 65%;
}

.splash__start--button {
  margin-top: 14px;
  width: -webkit-fill-available; 
  height: 3em;
}

.home-container {
  background-image: url('../images/background.png');
  background-repeat : no-repeat; 
  background-position : center; 
  background-size : cover;
  background-color: rgba(0, 0, 0, 0.7);
}

.main__container--players {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 30%;
}

.container__h2--contestants {
  font-family: 'Creepster', cursive;
  color: #a2e831;
  font-size: 3em;
}

.ul__label--current--round {
  color: #a2e831;
  font-size: 1.5em;
  margin-left: 28px;
}

.ul__player--1--total--score,
.ul__player--2--total--score,
.ul__player--3--total--score,
.ul__player--one--name,
.ul__player--two--name,
.ul__player--three--name,
.ul__player--one--score,
.ul__player--two--score,
.ul__player--three--score {
  width: 60px;
  padding: 10px;
  background: rgb(28, 24, 36);
}


.ul__player--1--total--score,
.ul__player--2--total--score,
.ul__player--3--total--score {
  font-size: 1.5em;
  text-align: center;
  border-bottom: 2px solid white;
}

.container__ul--player--info {
  border: solid 1px;
  background-color: #40304e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  width: 85%;
}

.turn-hint-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width: 85%;
}

ul {
  color: white;
}

.wheel__output--label {
  color: white;
  display: flex;
  font-size: 3em;
  justify-content: center;
}

.wheel__output {
  display: flex;
  font-size: 3em;
  justify-content: center;
  margin-top: 0;
}

.ul__player--one--name,
.ul__player--two--name,
.ul__player--three--name {
  font-size: 1.5em;
  text-align: center;
}

.ul__player--one--score,
.ul__player--two--score,
.ul__player--three--score {
  font-size: 1.5em;
  text-align: center;
}

.guess__input--div {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.main__container--puzzle{
  width: 84%;
}

.guess__btn--vowel,
.btn__spin--display,
.btn__spin,
.guess__input,
.guess__input--btn,
.btn__instructions {
  border-radius: 2px;
  background-color: #a2e831b6;
  box-shadow: 4px 4px 5px rgb(41, 39, 39);
  font-size: 1.0em;
  font-weight: bold;
  height: 35px;
  margin: 10px;
  width: 20%;
}

.guess__input {
  border: none;
  background-color: white;
  font-size: .8em;
  height: 33px;
  text-align: center;
}

.letter__label {
  color: #a2e831;
  display: flex;
  font-family: 'Creepster', cursive;
  font-size: 2em;
  justify-content: center;
  margin-bottom: 25px;
}

.img__pumpkin {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.img__pumpkin--rotate {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  animation: spin 4s;
}

@keyframes spin {
  0% {
    transform: rotate(5turn);
  }
}

.section__consonants {
    /* display: flex; */
    /* justify-content: center; */
    margin-bottom: 35px;
    width: 25%;
}

.section__vowels {
  display: flex;
  height: 35px;
  justify-content: space-evenly;
  margin: 0px 250px;
}

.vowel__label {
  color: #a2e831;
  display: flex;
  font-family: 'Creepster', cursive;
  font-size: 2em;
  justify-content: center;
  margin-bottom: 25px;
}

.btn__vowel {
  border-radius: 5px;
  background-color: #40304e;
  color: white;
  font-size: 1.0em;
  font-weight: bold;
  height: 30px;
  width: 30px;
}

.btn__letter {
  border-radius: 5px;
  background-color: #40304e;
  color: white;
  font-size: 1.0em;
  font-weight: bold;
  height: 30px;
  margin: 0px 10px;
  width: 30px;
}

p {
  color: white;
  font-size: 2.0em;
  margin-top: 15px;
  text-align: center;
}

h3 {
  color: #a2e831;
  font-family: 'Creepster', cursive;
  font-size: 3.0em;
  text-align: center;
}

.section__displayPuzzle {
    border: solid 5px white;
    background-color: #40304e;
    margin: 10px;
    width: 75%;
}

.container__displayPuzzle {
  color: white;
  display: flex;
  font-size: 2.5em;
  font-weight: bold;
  justify-content: space-between;
  padding: 25px;
}

.list__displayPuzzle--space,
.list__displayPuzzle--symbol {
  border-bottom: none;
}

.list__displayPuzzle--letter {
  border-bottom: white solid 2px;
  padding: 3px;
  width: 31px;
  font-size: 1em;
}

.letter_button-section {
  display:flex;
  flex-direction: column;
}

.help__modal {
  background: #000000d6;
  position: absolute;
  z-index: 1;
  width: 847px;
  font-size: 1.5em;
  height: 700px;
  overflow: auto;
  margin: 0 auto;
  padding: 30px;
}

.help__modal--header {
  color: white;
  font-size: 2em;
  float: right;
}

.help__modal--content {
  width: 786px;
  font-color: white;
}

.modal__header {
  border: 1px solid white;
}

.modal__close {
  background-color: white;
  border-radius: 50%;
  color: black;
  font-size: 1.5em;
  float: right;
}
